/*Limpar formatações padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Cabeçalho */
#area-cabecalho {
    background-color: hsl(216, 51%, 27%);
    padding: 30px 0;
    text-align: center;
}

#area-logo h1 {
    font-size: 2.5em;
    color: #ffffff;
    padding: 15px;
}

.cinza {
    color: rgb(105, 103, 103);
}

/* Menu */
#area-menu-cabecalho a {
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    margin: 0 5px;
}

#area-menu-cabecalho a:hover {
    color: hsl(216, 51%, 27%);
    background: #FFF;
    border-radius: 4px;
}

/* Área Principal */
#area-principal {
    background: white;
    max-width: 920px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: hsl(216, 51%, 27%);
    color: white;
    font-weight: bold;
}

td {
    background-color: #fff;
}


#adicionar-produto {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #e9f3ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 30px auto;
    text-align: center;
}

#adicionar-produto h3 {
    color: hsl(216, 51%, 27%);
    margin-bottom: 15px;
}

#form-adicionar-produto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-adicionar-produto label {
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#form-adicionar-produto input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

#form-adicionar-produto button {
    background-color: hsl(216, 51%, 27%);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#form-adicionar-produto button:hover {
    background-color: hsl(216, 51%, 37%);
}


/* Modal de Alerta */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    color: #000;
}
